/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Root Styles / Variables */

/* Referenced both w3schools and mdn for usage of variables */
/* w3scheools: https://www.w3schools.com/css/css3_variables.asp */
/* MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
    --clr-dark: #0f1a20;
    --clr-light: #fffcff;
    --clr-gold: #ffd23f;
    --clr-grey: #435058;
    --clr-red: #f42c04;
}

/* Reset styles to overide the browser setttings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Philosopher', sans-serif;
    color: var(--clr-dark);
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-dark {
    background-color: var(--clr-dark);
}

.text-light {
    color: var(--clr-light);
}

.text-dark {
    color: var(--clr-dark);
}

.section-heading {
    padding-top: 2rem;
}

.section-heading--gold {
    color: var(--clr-gold);
}

.section-heading--red {
    color: var(--clr-red);
}

h2,
h3 {
    font-size: clamp(1.6rem, 8vw, 3.5rem);
    text-align: center;
}


/* Header Styles */
header {
    background-color: var(--clr-dark);
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid var(--clr-gold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: 'Cinzel', serif;
    color: var(--clr-gold);
    font-size: 1.5rem;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
}

#menu li {
    margin-bottom: 1em;
    text-align: center;
}

#menu a {
    color: var(--clr-light);
}

/* Navbar styles and dropdown toggle */

/* Naviagtion was inspired by the LMS material and 
enhanced further down with my own knowledge */
nav {
    position: absolute;
    background-color: var(--clr-dark);
    width: 100%;
    left: 0;
    padding-top: 1rem;
    border-bottom: 1px solid var(--clr-gold);
    display: none;
    /* This makes sure the nav starts at the bottom of the header */
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Enhanced Toggle Label to show a hamburger to open and 
   a cross to close */

.nav-toggle-label-open,
.nav-toggle-label-close {
    color: var(--clr-light);
    font-size: 1.4rem;
}

.nav-toggle-label-close {
    display: none;
}

#nav-toggle:checked~.nav-toggle-label-open {
    display: none;
}

#nav-toggle:checked~.nav-toggle-label-close {
    display: block;
}

/* || Main Styles */
main {
    /* Make the main element take up surplus space and push the footer down */
    flex: 1 0 auto;
    /* Pushes main content down below the height of the header, px size found using dev tools */
    margin-top: 50px;
}

section {
    /* Ensures that the heading is visible under the fixed header */
    /* Documentation sourced from MDN https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top */
    /* Browser Compatibility sourced from https://caniuse.com/?search=scroll-margin-top */
    scroll-margin-top: 33px;
}

/* || Hero Section */

#hero {
    width: 100%;
    height: 85vh;
    background: url(../images/hero-bg-kneeling-down-martial-artist-1920x1306-compressed-final.webp) no-repeat center center/cover;
    display: flex;
    justify-content: center;
}

.hero-text-flex-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-text-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 650px;
    height: 100%;
    padding: 1rem;
}

.hero-text {
    flex-grow: 1;
    color: var(--clr-light);
    background-color: rgba(67, 80, 88, .3);
    font-size: 120%;
    padding: 1rem;
    text-align: center;
}

.hero-text h2 {
    color: var(--clr-gold);
}

.hero-text p {
    letter-spacing: 1px;
}

/* || Styles Section */

.styles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.style-card {
    max-width: 500px;
    margin-top: 2rem;
    background-color: rgba(67, 80, 88, 0.2);
}

.style-image img {
    width: 100%;
    height: auto;
}

.style-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style-text h4 {
    text-align: center;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 80%;
    /* Use MDN documents to learn about the comma separated 
    values to give an inset border to each end of the h4 container 
    Source: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: inset 10px 0 var(--clr-gold), inset -10px 0 var(--clr-gold);
    font-size: 120%;
    padding-block: .5rem;
}

.style-text p {
    width: 90%;
    padding: 1rem 0;
}

/* || Benefits Section */

.benefits-flex-container {
    display: flex;
    justify-content: center;
}

.benefit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    max-width: 650px;
    margin: 1rem;
}

.benefit-card h4 {
    border-bottom: 2px solid var(--clr-gold);
    margin-top: 2rem;
}

.benefit-card p {
    margin-top: .5rem;
}

/* || Instructor Section */

.instructor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    padding-bottom: 2rem;
    width: 100%;
}

.instructor-card {
    margin-top: 2rem;
}

.instructor-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructor-card-text h4 {
    font-size: 130%;
}

.instructor-card-text h4::before,
.instructor-card-text h4::after {
    content: "     ---     ";
}

.instructor-card-text h5 {
    font-size: 110%;
}



.instructor-card-text li {
    list-style-type: none;
    text-align: center;
}

.instructor-card img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 350px;
}

/* || About Section */

/* I wanted to make an opaque and found this 
resounce https://coder-coder.com/background-image-opacity/ I edited it to
my requirements and searched on MDN for a short hand for the top, middle, bottom, left
properties to enable me to use inset:0; 
MDN resource: https://developer.mozilla.org/en-US/docs/Web/CSS/inset */

#about {
    position: relative;
}

#about::before {
    content: "";
    background: url(../images/about-background-gym-image-1920x1281-compressed.webp) no-repeat center center/cover;
    opacity: .15;
    position: absolute;
    inset: 0;
}

.about-text-flex-container {
    display: flex;
    justify-content: center;
}

.about-text-container {
    max-width: 650px;
    margin: 1rem;
}

.about-text-container p {
    margin-top: 1rem;
    line-height: 1.5rem;
}

/* || Timetable and pricing section */

.price-container {
    display: flex;
    justify-content: center;
}

.price-info {
    max-width: 650px;
    margin: 2rem 1rem;
}

.times-flex-container {
    display: flex;
    justify-content: center;
}

/* For the next section I used the documentation on MDN to understand
the css grid a bit more and devised a layout I liked with this in mind
below are the sources I used to assist my understanding*/
/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas */
/* https://developer.mozilla.org/en-US/docs/Glossary/Grid_Areas */
/* I also used MDN to understand the nth child psuedo element further
to help with the selecting of the elements I wanted. I tested this out first
using individual selectors on the html, but found a more "elegant" way by using
css only to select the items I wanted to. 
This next piece of code is pre-tested code away from my main project in order to keep
my commits clean */

.times-container {
    flex: 1;
    display: grid;
    grid-template-areas:
        "day1       day1"
        "day1class1 day1class2"
        "day1class3 day1class3"
        "day2       day2"
        "day2class1 day2class2"
        "day2class3 day2class3"
        "day3       day3"
        "day3class1 day3class2"
        "day3class3 day3class3";
    margin: 2rem 1rem;
    max-width: 650px;
    text-align: center;
}

.times-container>h4:nth-child(1) {
    grid-area: day1;
    background-color: var(--clr-dark);
    color: var(--clr-gold);
}

.times-container>h4:nth-child(5) {
    grid-area: day2;
    background-color: var(--clr-dark);
    color: var(--clr-gold);
}

.times-container>h4:nth-child(9) {
    grid-area: day3;
    background-color: var(--clr-dark);
    color: var(--clr-gold);
}

.times-container>div:nth-child(2) {
    grid-area: day1class1;
}

.times-container>div:nth-child(3) {
    grid-area: day1class2;
}

.times-container>div:nth-child(4) {
    grid-area: day1class3;
}

.times-container>div:nth-child(6) {
    grid-area: day2class1;
}

.times-container>div:nth-child(7) {
    grid-area: day2class2;
}

.times-container>div:nth-child(8) {
    grid-area: day2class3;
}

.times-container>div:nth-child(10) {
    grid-area: day3class1;
}

.times-container>div:nth-child(11) {
    grid-area: day3class2;
}

.times-container>div:nth-child(12) {
    grid-area: day3class3;
}

.times-container h4 {
    padding: .5rem;
    font-size: 1.4rem;
}

.times-container h5 {
    padding: .5rem;
    font-size: 1rem;
}

.times-container p {
    font-size: .8rem;
}

.times-container>h4,
.times-container>div {
    border: 1px solid var(--clr-dark);
    letter-spacing: 1px;
}

.times-container div {
    padding: .5rem;
    background-color: var(--clr-grey);
    color: #fffcff;
}

/* After learning of the nth-child used in the selection for the grid-template-area section
I read that it could be used to target specific items using a formula notation. This allowed for 
the selection of only the factor of 4 elements to have the background colour changed */
/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
.times-container div:nth-child(4n) {
    background-color: var(--clr-gold);
    color: var(--clr-dark);
}

/* || Reviews Section */

.reviews-container {
    padding: 0 1rem 1rem 1rem;
}

.review-card {
    display: grid;
    grid-template-areas:
        "image  stars   stars   stars   stars   stars   ."
        "image  heading heading heading heading heading ."
        "review review  review  review  review  review  review"
        ".      .       .       .       name    name    name";
    padding: .5rem;
    background-color: rgba(66, 79, 87, 0.1);
    margin-top: 1rem;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.review-image {
    grid-area: image;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    text-align: center;
    padding: 15px 0;
}

/* Attempt to use BEM methodology to modify the existing review image class */
.review-image--placeholder-one {
    background: url(../images/review-profile-image-placeholder-1.png) no-repeat center center/cover;
}

.review-image--placeholder-two {
    background: url(../images/review-profile-image-placeholder-2.png) no-repeat center center/cover;
}


.review-stars {
    grid-area: stars;
    color: var(--clr-gold);
}

.review-heading {
    grid-area: heading;
}

.review-text {
    grid-area: review;
}

.review-name {
    grid-area: name;
    font-style: italic;
    color: var(--clr-gold);
}

.review-stars {
    display: flex;
    flex-direction: row;
}

.review-stars li {
    list-style-type: none;
}

/* || Contact Section */


#contact {
    background: url(../images/karate-girl-with-black-belt-1920x1280-compressed.webp) no-repeat 70% center/cover;
}


.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 0 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 650px;
    background-color: rgba(15, 27, 33, .6);
    border-radius: 5px;
}

.contact-form label {
    margin: .5rem 0;
    color: var(--clr-light);
}

.contact-form input {
    border: none;
    height: 1.5rem;
}

.contact-form div {
    margin: .5rem 0;
}

.contact-form textarea {
    height: 100px;
    border: none;
}

.contact-button {
    margin-top: .5rem;
    width: fit-content;
    padding: .5rem;
    border: none;
    background-color: var(--clr-gold);
    font-size: 1rem;
    font: inherit;
}

.address-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.contact-address li {
    list-style-type: none;
}

.contact-email * {
    display: inline;
}

.contact-phone * {
    display: inline;
}

/* || Footer Styles */
footer {
    background-color: var(--clr-dark);
}

#socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    list-style-type: none;
}

#socials i {
    color: var(--clr-light);
    font-size: 2rem;
}

/* || Media queries: Tablets and larger (768px and upwards) */

@media screen and (min-width:768px) {

    /* || Header Section */
    nav {
        position: relative;
        display: block;
        width: fit-content;
        padding: 0;
        border-bottom: none;
    }

    header {
        /* Switched header to flex column, no requirement to add additional
           flex properties as they already exist outside the media query */
        flex-direction: column;
        padding: 0 .5rem;
        height: auto;
    }

    #logo {
        font-size: 2.5rem;
    }

    #menu {
        display: flex;
        padding: .5rem 0;
        font-size: 1rem;
    }

    #menu li {
        padding: 0 1rem;
        margin-bottom: 0;
    }

    .nav-toggle-label-close,
    .nav-toggle-label-open {
        display: none;
    }

    main {
        margin-top: 89px;
    }

    section {
        /* Ensures that the heading is visible under the fixed header */
        /* Documentation sourced from MDN https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top */
        /* Browser Compatibility sourced from https://caniuse.com/?search=scroll-margin-top */
        scroll-margin-top: 89px;
    }

    /* || Hero Section */

    .hero-text-container {
        max-width: 1400px;
    }

    /* || Benefits Section */

    .benefit-container {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        max-width: 1400px;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .benefit-card {
        max-width: 500px;
    }

    .benefit-card h4 {
        font-size: 150%;
    }

    .benefit-card p {
        font-size: 110%;
    }

    /* || Instructors Section */

    .instructor-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    .instructor-card>* {
        flex-basis: 100%;
    }

    /* The below style is applied to the middle instructor in the html
    it reverses the order of the text and image to give a more visual appeal */
    .reverse-order img {
        order: 2;
    }

    /* || Contact Section */

    .contact-container {
        align-items: flex-start;
    }
}

@media screen and (min-width:992px) {

    #menu a:hover {
        border-bottom: 1px solid var(--clr-gold);
    }

    #logo {
        font-size: 3.5rem;
    }

    #menu {
        font-size: 1.5rem;
    }

    main {
        margin-top: 120px;
    }

    section {
        /* Ensures that the heading is visible under the fixed header */
        /* Documentation sourced from MDN https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin-top */
        /* Browser Compatibility sourced from https://caniuse.com/?search=scroll-margin-top */
        scroll-margin-top: 120px;
    }

    /* || Styles Section */
    .styles-container {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        gap: 1rem;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .style-card {
        flex: 1;
    }

    /* || Instructors Section */

    .instructor-container {
        flex-direction: row;
        gap: 1rem;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }

    .instructor-card {
        flex-direction: column;
    }

    .reverse-order img {
        order: 0;
    }

    /* || About Section */
    .about-text-container {
        max-width: 1400px;
        columns: 3;
        padding-top: 0;
        margin-top: 0;
        gap: 3rem;
    }

    .about-text-container p {
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 1rem;
    }

    /* || Timetable and pricing section */

    #times>p {
        max-width: 1400px;
        margin: auto;
    }

    .times-container {
        grid-template-areas:
            "day1 day1class1 day1class2 day1class3"
            "day1 . . ."
            "day1 . . ."
            "day2 day2class1 day2class2 day2class3"
            "day2 . . ."
            "day2 . . ."
            "day3 day3class1 day3class2 day3class3"
            "day3 . . ."
            "day3 . . .";
        max-width: 1400px;
    }

    .times-container h5,
    .times-container h4 {
        padding: 1rem;
        font-size: 1.3rem;
    }

    .times-container p {
        font-size: 1.2rem;
    }

    /* reset all colours to grey */
    .times-container div:nth-child(4n) {
        background-color: var(--clr-grey);
        color: var(--clr-light);
    }

    .times-container div:nth-child(3n) {
        background-color: var(--clr-light);
        color: var(--clr-dark);
    }

    .times-container div:nth-child(3n+1) {
        background-color: var(--clr-gold);
        color: var(--clr-dark);
    }

    /* || Review Section */

    #reviews {
        min-height: auto;
    }

    .reviews-container {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        gap: 1rem;
        padding-bottom: 2rem;
        max-width: 1400px;
    }

    .review-card {
        flex: 1;
    }
}