/* Google Fonts import */
/* 
font-family: 'Cinzel', serif;
font-family: 'Philosopher', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Root Styles / Variables */

:root {
    --clr-dark: #0f1a20;
    --clr-light: #fffcff;
    --clr-gold: #ffd23f;
    --clr-grey: #435058;
    --clr-red: #f42c04;
}

/* Reset styles to overide the browser setttings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Philosopher', sans-serif;
    color: var(--clr-dark);
}

/* Header Styles */
header {
    background-color: var(--clr-dark);
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid var(--clr-gold);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: 'Cinzel', serif;
    color: var(--clr-gold);
    font-size: 1.5rem;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
}

#menu li {
    margin-bottom: 1em;
    text-align: center;
}

#menu a {
    color: var(--clr-light);
}

/* Navbar styles and dropdown toggle */

/* Naviagtion was inspired by the LMS material and 
enhanced further down with my own knowledge */
nav {
    position: absolute;
    background-color: var(--clr-dark);
    width: 100%;
    left: 0;
    padding-top: 1rem;
    border-bottom: 1px solid var(--clr-gold);
    display: none;
    /* This makes sure the nav starts at the bottom of the header */
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Enhanced Toggle Label to show a hamburger to open and 
   a cross to close */

.nav-toggle-label-open,
.nav-toggle-label-close {
    color: var(--clr-light);
    font-size: 1.4rem;
}

.nav-toggle-label-close {
    display: none;
}

#nav-toggle:checked~.nav-toggle-label-open {
    display: none;
}

#nav-toggle:checked~.nav-toggle-label-close {
    display: block;
}

/* Main Styles */
main {
    background-color: lightyellow;
    /* Make the main element take up surplus space and push the footer down */
    flex: 1 0 auto;
    /* Pushes main content down below the height of the header, px size found using dev tools */
    margin-top: 33px;
}

/* Footer Styles */
footer {
    background-color: lightsteelblue;
}

/* Media queries: Tablets and larger (768px and upwards) */

@media screen and (min-width:768px) {

    /* Header Section */
    nav {
        position: relative;
        display: block;
        width: fit-content;
    }


}